table > tbody > tr > td{
    color: var(--text-color-secondary);
}
.profile-background-cover{
    background-color: aliceblue;
    height: 42px;
    width: 42px;
    color: #377DFF;
    text-align: center;
    font-size: large;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 50%;
    position: relative;
}
.profile-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.profile-image-container{
    align-items: center;
}
.maintenance-status > span{
    padding: 6px 12px;
    border-radius: var(--bs-border-radius);
}
.maintenance-status > span.bg-success-color{
    background: var(--bg-success-color);
    color: var(--success-color);
    border-color: var(--success-color);
}
.maintenance-status > span.bg-warning-color{
    background: var(--bg-warning-color);
    color: var(--warning-color);
    border-color: var(--warning-color);
}
.maintenance-status > span.bg-light-color{
    background: var(--bg-light-color);
    color: var(--ligth-color);
    border-color:var(--ligth-color);
}
.maintenance-type > span{
    padding: 6px 12px;
    border-radius: var(--bs-border-radius);
    background: #377DFF;
    color: var(--bs-white);
    border-color:var(--bg-info-color);
}
.property-details > .property-name{
    font-weight: 500;
    color: var(--text-color-primary);
}
.property-details > .property-location{
    font-size: smaller;
}
.col-filter{
    justify-content: space-between;
}
.filter-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
}
.col-filter-item{
    margin: 0 10px;
}
.create-task-button {
    display: flex;
    align-items: center;
}
.custom-dp{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}