
<div class="row mb-5">
    <div class="col mb-3">
        <div class="card h-100">
          <div class="card-body">
            <div class="card-title">
              All tickets
            </div>
            <div class="card-details d-flex">
              <div class="card-figure">
                <span class="amount">16</span>
                <span class="card-subtitle-description ms-2">Last 30 days</span>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="card h-100">
          <div class="card-body">
            <div class="card-title">
              New
            </div>
            <div class="card-details d-flex">
              <div class="card-figure">
                <span class="amount">5</span>
                <span class="card-subtitle-description ms-2">Last 30 days</span>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="card h-100">
          <div class="card-body">
            <div class="card-title">
              In progress
            </div>
            <div class="card-details d-flex">
              <div class="card-figure">
                <span class="amount">3</span>
                <span class="card-subtitle-description ms-2">Last 30 days</span>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="card h-100">
          <div class="card-body">
            <div class="card-title">
              Closed tickets
            </div>
            <div class="card-details d-flex">
              <div class="card-figure">
                <span class="amount">9</span>
                <span class="card-subtitle-description ms-2">Last 30 days</span>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="row mb-3">
  <div class="col d-flex col-filter">
    <div class="filter-container">
      <form [formGroup]="filterForm">
        <div class="filter-wrapper">
          <div class="col-filter-item mb-3">
            <label for="applicationType">Category</label>
            <select class="form-select" aria-label="Select" formControlName="maintenanceType" id="maintenancetype" >
              <option value="electrical">Electrical</option>
              <option value="plumbing">Plumbing</option>
              <option value="hvac">HVAC</option>
              <option value="painting">Painting</option>
              <option value="roofing">Roofing</option>
              <option value="elevator">Elevator</option>
              <option value="security">Security</option>
              <option value="flooring">Flooring</option>
              <option value="landscaping">Landscaping</option>
              <option value="structural">Structural</option>
            </select>
          </div>
          <div class="col-filter-item mb-3">
            <label for="applicationType">Status</label>
            <select class="form-select" aria-label="Select status" formControlName="maintenanceStatus" id="maintenanceStatus" >
              <option value="new">New</option>
              <option value="inProgress">In-Progress</option>
              <option value="completed">Completed</option>
            </select>
          </div>
          <div class="col-filter-item mb-3">
            <label for="maintenanceDateFrom">From</label>
            <div class="input-group">
              <input
                class="form-control custom-dp"
                placeholder="yyyy-mm-dd"
                name="dp"
                ngbDatepicker
                #dateFrom="ngbDatepicker"
                formControlName="maintenanceDateFrom"
                id="maintenanceDateFrom"
              />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dateFrom.toggle()" type="button"></button>
            </div>
          </div>
          <div class="col-filter-item mb-3">
            <label for="maintenanceDateTo">To</label>
            <div class="input-group">
              <input
                class="form-control custom-dp"
                placeholder="yyyy-mm-dd"
                name="dp"
                ngbDatepicker
                #dateTo="ngbDatepicker"
                formControlName="maintenanceDateTo"
                id="maintenanceDateTo"
              />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dateTo.toggle()" type="button"></button>
            </div>
          </div>
          <div class="col-filter-item mb-3">
            <button class="btn btn-primary">Filter</button>
          </div>
        </div>
      </form>
    </div>
    <div class="create-task-button">
      <button class="btn btn-primary">Add tasks</button>
    </div>
  </div>
</div>
<div class="row mb-3">
    <div class="card">
        <div class="card-header bg-transparent border-bottom-0 p-3">
          <div class="card-heading">Tasks</div>
        </div>
        <div class="card-body p-0">
          <table class="table table-responsive table-align-middle" id="maintenanceTableList">
            <thead class="thead-light">
            <tr>
              <th>Ticket</th>
              <th>Date created</th>
              <th>Property</th>
              <th>Reporter</th>
              <th>Unit</th>
              <th>Description</th>
              <th>Status</th>
              <th class="view-link"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let maintenanceRequest of MaintenanceRequestList; index as i">
              <ng-container>
                <td class="ticketNumber">#00{{i+1}}</td>
                <td class="date-created">{{maintenanceRequest.dateCreated}}</td>
                <td class="property-details">
                  <div class="property-name">{{maintenanceRequest.buildingName}}</div>
                  <div class="property-location">{{maintenanceRequest.address}}</div>
                </td>
                <td class="reporter-details">
                  <div class="profile-image-container d-flex">
                    <div class="profile-background-cover">
                      <div class="profile-image"> {{maintenanceRequest.fullName | slice:0:1}}</div>
                    </div>
                    <div class="profile-name ms-3">{{maintenanceRequest.fullName}}</div>
                  </div>
                </td>
                <td class="maintenance-unit">{{maintenanceRequest.unit}}</td>
                <td class="maintenance-description">
                  <div class="maintenance-description-details mb-2">
                    {{maintenanceRequest.description}}
                  </div>
                  <div class="maintenance-type">
                    <span>{{maintenanceRequest.maintenanceType}}</span>
                  </div>
                 </td>
                <td class="maintenance-status">
                  
                  <span [ngClass]="{'bg-light-color' : maintenanceRequest.status =='New', 'bg-success-color': maintenanceRequest.status =='Completed', 
                  'bg-warning-color':  maintenanceRequest.status == 'In-Progress'}">{{maintenanceRequest.status}}</span>
                </td>
                <td class="action">
                  <button class="btn btn-bordered">View</button>
                </td>
              </ng-container>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>