.revenue-card-col{
  flex-direction: column;
  align-self: center;
}
.building-image img{
  width: 45px;
  border-radius: 4px;
}
.building-name{
  font-size: var(--md-font-size);
  font-weight: var(--semi-bold-weight);
  color: var(--bs-dark);
}
.building-name:hover{
  color: var(--primary-darker-color);
}
.building-address{
  font-size: var(--sm-font-size);
  font-weight: var(--regular-weight);
  color: var(--bs-gray-600)
}

.tenants-number{
  font-size: var(--sm-font-size);
}
.view-all-link,
.view-all-link:active,
.view-all-link:hover,
{

  font-size: var(--sm-font-size);
  font-weight: var(--regular-weight);
  color: var(--bs-gray-600);
}
.reporter-profile{
  width: 75px;
  height: 75px;
  //max-width: 10%;
  border-radius: 50px;
}
.reporter-name{
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}
.btn-issue-type{
  font-size: 10px;
}
.issue-description,
.issue-reported-time{
  font-size: 14px;
}

table tbody td tr.issue,
table tbody td tr.time{
  color: #677788;
}
table tbody tr td.reporter-details{
  width: 35%;
}
table tbody tr td.issue{
  width: 45%;
}
.btn-dropdown-date{
  color: var(--bs-gray-600);
  font-size: var(--sm-font-size);
}
.chart-value{
  text-align: center;
}