<div class="container-fluid">
  <header class="navbar navbar-light sticky-top bg-white flex-md-nowrap py-2 ">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 " href="#">Propmate</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input class="d-none form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <div class="navbar-nav">
      <div class="nav-item navbar-right-profile d-flex flex-row align-items-center justify-content-end">
        <i class="bi bi-chat-left"></i>
        <i class="bi bi-bell mx-3"></i>
        <img src="../../../assets/images/avatar-5.png" alt="" class="avatar">
      </div>
    </div>
  </header>
</div>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-white sidebar collapse">
      <div class="position-sticky pt-5">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/'.concat(Constants.DASHBOARD_ROUTE.concat('/'.concat(Constants.DASHBOARD_OVERVIEW_ROUTE)))]">
              <i class="bi bi-columns-gap me-1"></i>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/'.concat(Constants.DASHBOARD_ROUTE.concat('/'.concat(Constants.BUILDING_LIST_ROUTE)))]">
              <i class="bi bi-buildings me-1"></i>
              Properties
            </a>
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a class="dropdown-toggle nav-link d-flex justify-content-between" data-bs-toggle="collapse" data-bs-target="#collapseUserMenu" aria-expanded="false" aria-controls="collapseUserMenu">
                <span>
                  <i class="bi bi-people me-1"></i>Users
                </span>
                <i class="toggle-icon bi bi-chevron-compact-down"></i>
              </a>
              <div class="collapse" id="collapseUserMenu">
                <a class="nav-link" href="">List of users</a>
                <a class="nav-link" href="">Add new</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-stickies me-1"></i>
              Maintenance
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-flag me-1"></i>
              Reports
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>More</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-list-task me-1"></i>
              Task
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-envelope me-1"></i>
              Communication
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
               [routerLink]="['/'.concat(Constants.DASHBOARD_ROUTE.concat('/'.concat(Constants.EDIT_TENANT_PROFILE)))]">
              <i class="bi bi-gear me-1"></i>
              Settings
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="main-content-wrapper">
      <div class="container-fluid">
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <div class="heading">
              <h1 class="main-heading">{{title}}</h1>
              <div class="sub-heading">{{subTitle}}</div>
            </div>
            <div class="d-none btn-toolbar mb-2 mb-md-0">
              <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>
          <hr>
          <div class="load-component py-3">
            <div>
              <ng-container *ngComponentOutlet="currentComponent"></ng-container>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>
