<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-6 offset-3 col-first">
        <div class="card p-3">
          <div class="card-body">
            <form [formGroup]="otpForm">
              <div class="mb-3 text-center">
                <h1 class="main-heading">OTP verification</h1>
                <div class="sub-heading">Please enter the OTP sent to email*****. OTP will expire in <span>60</span></div>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control form-control-lg" formControlName="otpCode" id="otpCode" placeholder="OTP verification code"
                       [ngClass]="{'is-invalid' :otpForm.controls['otpCode'].errors?.['required'] && (otpForm.controls['otpCode'].dirty
                || otpForm.controls['otpCode'].touched && otpForm.controls['otpCode'].invalid)}">
                <label for="otpCode">OTP verification code</label>

                <p class="invalid-feedback mt-1"
                   *ngIf="otpForm.controls['otpCode'].errors?.['required'] && (otpForm.controls['otpCode'].dirty
                || otpForm.controls['otpCode'].touched && otpForm.controls['otpCode'].invalid)">
                  This field is mandatory
                </p>
                <div></div>
              </div>
              <div class="mb-3 resend-otp-link text-center">
                Did not receive OTP? <a href="">Send OTP</a>
              </div>
              <div class="d-flex flex-column align-items-end">
                <button type="submit"
                        class="btn btn-primary btn-full btn-lg"
                        [disabled]="otpForm.invalid"
                        (click)="onSubmit()"
                >Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

