<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col-5  col-first">
        <div class="card card-padding">
          <div class="card-body">
            <form [formGroup]="otpForm">
              <div class="mb-4 text-center">
                <img src="../../../assets/icons/Authentication-rafiki.png" alt="" width="180">
                <h1 class="heading-title">2-step verification</h1>
                <div class="subtitle-text w-80">We sent a verification code to your email*****.
                  Enter the code from the email in the field below. Code will expire in: <span><countdown #OtpCountdown [config]="config" (event)="notifyRemainingTime($event)"></countdown></span>
                </div>
              </div>
              <div class="alert alert-danger mb-3" role="alert" *ngIf="isInvalidOtp">
                Invalid OTP. Try again
              </div>
              <div class="mb-4 d-flex flex-row justify-content-between otp-input-wrapper">
                <div class="otp-code-input">
                  <input type="text" class="form-control " formControlName="otpCode1" id="otpCode1" spellcheck="false" maxlength="1"
                         [ngClass]="{'is-invalid' :otpForm.controls['otpCode1'].errors?.['required'] && (otpForm.controls['otpCode1'].dirty
                || otpForm.controls['otpCode1'].touched && otpForm.controls['otpCode1'].invalid)}">
                  <p class="invalid-feedback mt-1"
                     *ngIf="otpForm.controls['otpCode1'].errors?.['required'] && (otpForm.controls['otpCode1'].dirty
                || otpForm.controls['otpCode1'].touched && otpForm.controls['otpCode1'].invalid)">
                   <small>Enter code</small>
                  </p>
                </div>
                <div class="otp-code-input">
                  <input type="text" class="form-control" formControlName="otpCode2" id="otpCode2" spellcheck="false" maxlength="1"
                         [ngClass]="{'is-invalid' :otpForm.controls['otpCode2'].errors?.['required'] && (otpForm.controls['otpCode2'].dirty
                || otpForm.controls['otpCode2'].touched && otpForm.controls['otpCode2'].invalid)}">
                  <p class="invalid-feedback mt-1"
                     *ngIf="otpForm.controls['otpCode2'].errors?.['required'] && (otpForm.controls['otpCode2'].dirty
                || otpForm.controls['otpCode2'].touched && otpForm.controls['otpCode2'].invalid)">
                    <small>Enter code</small>
                  </p>
                </div>
                <div class="otp-code-input">
                  <input type="text" class="form-control " formControlName="otpCode3" id="otpCode3" spellcheck="false" maxlength="1"
                         [ngClass]="{'is-invalid' :otpForm.controls['otpCode3'].errors?.['required'] && (otpForm.controls['otpCode3'].dirty
                || otpForm.controls['otpCode3'].touched && otpForm.controls['otpCode3'].invalid)}">
                  <p class="invalid-feedback mt-1"
                     *ngIf="otpForm.controls['otpCode3'].errors?.['required'] && (otpForm.controls['otpCode3'].dirty
                || otpForm.controls['otpCode3'].touched && otpForm.controls['otpCode3'].invalid)">
                    <small>Enter code</small>
                  </p>
                </div>
                <div class="otp-code-input">
                  <input type="text" class="form-control " formControlName="otpCode4" id="otpCode4" spellcheck="false" maxlength="1"
                         [ngClass]="{'is-invalid' :otpForm.controls['otpCode4'].errors?.['required'] && (otpForm.controls['otpCode4'].dirty
                || otpForm.controls['otpCode4'].touched && otpForm.controls['otpCode4'].invalid)}">
                  <p class="invalid-feedback mt-1"
                     *ngIf="otpForm.controls['otpCode4'].errors?.['required'] && (otpForm.controls['otpCode4'].dirty
                || otpForm.controls['otpCode4'].touched && otpForm.controls['otpCode4'].invalid)">
                    <small>Enter code</small>
                  </p>
                </div>

              </div>
              <div class="d-flex flex-column align-items-end mb-3">
                <button type="submit"
                        class="btn btn-primary btn-full btn-lg"
                        [disabled]="otpForm.invalid"
                        (click)="onSubmit()"
                >Verify code</button>
              </div>
              <div class="resend-otp-link text-center subtitle-text">
                Haven't received it? <a href="">Resend a new code</a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>

