.alert-bg{
  background: #E8F0FE;
  width: 40%;
  padding: 15px;
}
.alert-requirement-title{
  font-weight: 500;
  font-size: 14px;
}
ul li{
  font-size: 14px;
}
.lease-agreement-link{
  color: black;
  text-decoration: none;
}
.lease-agreement-link:hover{
  color: #377dff;
}
label, input{
  font-size: 14px;
}
