<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-4 offset-4 col-first">
        <div class="card p-3 mb-3">
          <div class="card-body">
            <form [formGroup]="loginForm">
              <div class="mb-3 text-center">
                <h1 class="main-heading">PropMate login</h1>
                <div class="sub-heading">Welcome back! Please enter your details</div>
              </div>
              <div class="mb-3">
                <label for="username">Username</label>
                <input type="text" class="form-control" formControlName="username" id="username" placeholder="Username"
                       [ngClass]="{'invalid-field' :loginForm.controls['username'].errors?.['required'] && (loginForm.controls['username'].dirty
                || loginForm.controls['username'].touched && loginForm.controls['username'].invalid)}">
                <p class="error-field-message mt-1"
                   *ngIf="loginForm.controls['username'].errors?.['required'] && (loginForm.controls['username'].dirty
                || loginForm.controls['username'].touched && loginForm.controls['username'].invalid)">
                  This field is mandatory
                </p>
                <div></div>
              </div>
              <div class="mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password"
                       [ngClass]="{'invalid-field' :loginForm.controls['password'].errors?.['required'] && (loginForm.controls['password'].dirty
                || loginForm.controls['password'].touched && loginForm.controls['password'].invalid)}">
                <p class="error-field-message mt-1"
                   *ngIf="loginForm.controls['password'].errors?.['required'] && (loginForm.controls['password'].dirty
                || loginForm.controls['password'].touched && loginForm.controls['password'].invalid)">
                  This field is mandatory
                </p>
              </div>
              <div class="mb-3 remember-container">
                <div class="remember-wrapper">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="rememberMeCheckbox" formControlName="rememberMe">
                    <label class="form-check-label" for="rememberMeCheckbox">
                      Remember me
                    </label>
                  </div>
                </div>
                <div class="forgot-password">
                  <a href="">Forgot password</a>
                </div>
              </div>
              <button type="submit"
                      class="btn btn-danger btn-full"
                      [disabled]="loginForm.invalid"
                      (click)="onSubmit()"
              >Log in</button>
            </form>
          </div>
        </div>
        <div class="text-center create-account-link">
            Not a client? <a href="">Create PropMate account</a>
        </div>
      </div>
    </div>
  </div>
</div>

