.profile-background-cover{
    background-color: aliceblue;
    height: 64px;
    width: 64px;
    color: #377DFF;
    text-align: center;
    font-size: large;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 50%;
    position: relative;
}
.profile-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: small;
}
.profile-image-container{
    align-items: center;
}

// .user-id, .joined-date{
//   font-size: 14px;
//   font-weight: 400;
// }
// .bi{
//   font-size: 14px;
//   color: #A6B0B9;
// }
// .bi-patch-check-fill.bi-verified{
//   color: #377dff;
// }
// .about-section .heading,
// .contact-section .heading{
//   font-weight: 500;
//   font-size: 14px;
// }
// .about-name, .about-occupation, .phone-contact,
// .email-contact{
//   font-size: 14px;
// }
// .document-title{
//   font-size: 14px;
//   font-weight: 500;
// }
// .document-icon{
//   width: 32px;
//   height: 32px;
// }
// .document-name{
//   font-size: 12px;
// }
// .document-size{
//   color: #8c98a4;
//   font-size: 11px;
// }
// .document-heading-main{
//   font-weight: 500;
//   font-size: 14px;
// }
// .document-heading-sub{
//   font-size: 12px;
//   color: #677788;
//   font-weight: 400;
// }
// .balance-amount{
//   text-align: end;
// }
// .card-heading-title-sub, .card-description-text{
//   font-size: 14px;
// }
// .card-heading-title-sub{
//   font-weight: 500;
// }
// .card-description-text{
//    color: #677788;
// }
// .lease-detail-content{
//   width: 33.3%;
// }
// .lease-address-content{
//   width: 33.3%;
// }
// .lease-overview-content{
//   width: 20%;
// }
// .card-heading-title-main{
//   font-weight: 500;
// }
// .issue-title{
//   font-size: 14px;
//   font-weight: 500;
// }
// .issue-description{
//   font-size: 14px;
// }


// .card-no-border .card-body{
//   border-bottom: 1px solid var(--bs-border-color);
// }
// i.bg-success-color{
//   color: var(--success-color);
// }
// i.bg-danger-color{
//   color: var(--danger-color)
// }
// .bi-exclamation-triangle-fill{
//   color: var(--bs-black);
// }
// .sticky-top {
//   // position: -webkit-sticky;
//   // position: sticky;
//   // top: 0;
//   // z-index: 1020; /* Ensure it's above the Bootstrap navbar (z-index: 1000) */
// }

// //Navigation
// .col-navigation{
//   border-bottom: 1px solid var(--border-color);
// }

// .navigation ul li a{
//   font-size: 14px;
//   color: var(--text-color-secondary);
// }
// .navigation ul li a.active{
//   font-weight: 400;
//   color: var(--bs-black);
// }
// .navigation ul li a:hover{
//   color: var(--bs-black);
// }
// .navigation ul li{
//   padding-right: 15px;
// }