<div class="wrapper">
    <div class="row">
        <div class="col-8 mx-auto">
            <form [formGroup]="addNewUserForm">
                <div class="card card-padding">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3 col-label">
                                <div class="label-title">Profile</div>
                            </div>
                            <div class="col-9 d-flex flex-row align-items-center">
                                <div class="col-avatar">
                                    <img id="avatarImg" class="avatar-img avatar-lg rounded-avatar" src="{{profileImageUrl}}" alt="Image Description">
                                    <div class="icon-bg">
                                      <i class="bi bi-pencil" ></i>
                                    </div>
                                </div>
                                <div class="ms-3">
                                    <button class="btn-bordered btn">Remove</button>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <label class="avatar avatar-xl avatar-circle" for="avatarUploader">
                            </label>

                            <div class="d-flex gap-3 ms-4 d-none">
                              <div class="form-attachment-btn btn btn-sm btn-primary">Upload photo
                                <input type="file" class="js-file-attach form-attachment-btn-label" id="avatarUploader"
                                       data-hs-file-attach-options='{
                                          "textTarget": "#avatarImg",
                                          "mode": "image",
                                          "targetAttr": "src",
                                          "resetTarget": ".js-file-attach-reset-img",
                                          "resetImg": "../assets/images/img1.jpg",
                                          "allowTypes": [".png", ".jpeg", ".jpg"]
                                       }'>
                              </div>
                              <!-- End Avatar -->

                              <button type="button" class="js-file-attach-reset-img btn btn-white btn-sm">Delete</button>
                            </div>
                          </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3 col-label">
                                <div class="label-title">Role</div>
                            </div>
                            <div class="col-9">
                                <select class="form-select" aria-label="Applying as" formControlName="applicationType" id="applicationType" >
                                    <option value="2">Tenant</option>
                                    <option value="3">Landlord</option>
                                    <option value="3">Security</option>
                                    <option value="3">Staff Management</option>
                                  </select>
                                  <p class="invalid-feedback mt-1"
                                     *ngIf="addNewUserForm.controls['applicationType'].errors?.['required'] && (addNewUserForm.controls['applicationType'].dirty
                                  || addNewUserForm.controls['applicationType'].touched && addNewUserForm.controls['applicationType'].invalid)">
                                    This field is mandatory
                                  </p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3 col-label">
                                <div class="label-title">Full name</div>
                            </div>
                            <div class="col-9">
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control form-control-lg" formControlName="firstName" id="firstName" placeholder="First name"
                           [ngClass]="{'is-invalid': addNewUserForm.controls['firstName'].errors?.['required'] && (addNewUserForm.controls['firstName'].dirty
                || addNewUserForm.controls['firstName'].touched && addNewUserForm.controls['firstName'].invalid)}">

                    <p class="invalid-feedback mt-1"
                       *ngIf="addNewUserForm.controls['firstName'].errors?.['required'] && (addNewUserForm.controls['firstName'].dirty
                || addNewUserForm.controls['firstName'].touched && addNewUserForm.controls['firstName'].invalid)">
                      This field is mandatory
                    </p>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-lg" formControlName="lastName" id="lastName" placeholder="Last name"
                           [ngClass]="{'is-invalid': addNewUserForm.controls['lastName'].errors?.['required'] && (addNewUserForm.controls['lastName'].dirty
                || addNewUserForm.controls['lastName'].touched && addNewUserForm.controls['lastName'].invalid)}">

                    <p class="invalid-feedback mt-1"
                       *ngIf="addNewUserForm.controls['lastName'].errors?.['required'] && (addNewUserForm.controls['lastName'].dirty
                || addNewUserForm.controls['lastName'].touched && addNewUserForm.controls['lastName'].invalid)">
                      This field is mandatory
                    </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3 col-label">
                                <div class="label-title">Phone number</div>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control form-control-lg" formControlName="phoneNumber" id="phoneNumber" placeholder="Phone number"
                                    [ngClass]="{'is-invalid' :addNewUserForm.controls['phoneNumber'].errors?.['required'] && (addNewUserForm.controls['phoneNumber'].dirty
                                || addNewUserForm.controls['phoneNumber'].touched && addNewUserForm.controls['phoneNumber'].invalid)}">

                                <p class="invalid-feedback mt-1"
                                *ngIf="addNewUserForm.controls['phoneNumber'].errors?.['required'] && (addNewUserForm.controls['phoneNumber'].dirty
                                || addNewUserForm.controls['phoneNumber'].touched && addNewUserForm.controls['phoneNumber'].invalid)">
                                This field is mandatory
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3 col-label">
                                <div class="label-title">Gender</div>
                            </div>
                            <div class="col-9 d-flex flex-row">

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" id="gendeMale" value="male" formControlName="gender">
                                    <label class="form-check-label" for="gender">
                                      Male
                                    </label>
                                  </div>
                                  <div class="form-check ms-3">
                                    <input class="form-check-input" type="radio" name="gender" id="genderFemale" value="female" formControlName="gender">
                                    <label class="form-check-label" for="gender">
                                      Female
                                    </label>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3 col-label">
                                <div class="label-title">Email</div>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control form-control-lg" formControlName="email" id="email" placeholder="Email"
                                    [ngClass]="{'is-invalid' :addNewUserForm.controls['email'].errors?.['required'] && (addNewUserForm.controls['email'].dirty
                                || addNewUserForm.controls['email'].touched && addNewUserForm.controls['email'].invalid)}">

                                <p class="invalid-feedback mt-1"
                                *ngIf="addNewUserForm.controls['email'].errors?.['email'] && (addNewUserForm.controls['email'].dirty
                                || addNewUserForm.controls['email'].touched && addNewUserForm.controls['email'].invalid)">
                                This field is mandatory
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3 col-label">
                                <div class="label-title">Password</div>
                            </div>
                            <div class="col-9">
                                <div class="input-group">
                                    <input type="{{defaultInputTypePassword}}" class="form-control form-control-lg" formControlName="password" maxlength="32" minlength="8"
                                    [ngClass]="{'is-invalid' :addNewUserForm.controls['password'].errors?.['required'] && (addNewUserForm.controls['password'].dirty
                                  || addNewUserForm.controls['password'].touched && addNewUserForm.controls['password'].invalid)}" placeholder="8+ characters required">
                                  <i class="bi icon-input" [ngClass]="showPasswordIcon ? 'bi-eye-slash' : 'bi-eye'" (click)="setToggleIcon('password')"></i>
                                  </div>
                                <p class="invalid-feedback mt-1"
                                *ngIf="addNewUserForm.controls['password'].errors?.['password'] && (addNewUserForm.controls['password'].dirty
                                || addNewUserForm.controls['password'].touched && addNewUserForm.controls['password'].invalid)">
                                This field is mandatory
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3 col-label">
                                <div class="label-title">Confirm password</div>
                            </div>
                            <div class="col-9">
                                <div class="input-group">
                                    <input type="{{defaultInputTypePassword}}" class="form-control form-control-lg" formControlName="confirmPassword" maxlength="32" minlength="8"
                                    [ngClass]="{'is-invalid' :addNewUserForm.controls['confirmPassword'].errors?.['required'] && (addNewUserForm.controls['confirmPassword'].dirty
                                  || addNewUserForm.controls['confirmPassword'].touched && addNewUserForm.controls['confirmPassword'].invalid)}" placeholder="8+ characters required">
                                  <i class="bi icon-input" [ngClass]="showConfirmPasswordIcon ? 'bi-eye-slash' : 'bi-eye'" (click)="setToggleIcon('confirmPassword')"></i>
                                  </div>
                                <p class="invalid-feedback mt-1"
                                *ngIf="addNewUserForm.controls['confirmPassword'].errors?.['confirmPassword'] && (addNewUserForm.controls['confirmPassword'].dirty
                                || addNewUserForm.controls['confirmPassword'].touched && addNewUserForm.controls['confirmPassword'].invalid)">
                                This field is mandatory
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="submit-button-right">
                            <button type="submit"
                      class="btn btn-primary btn-small btn-lg mb-3"
                      [disabled]="addNewUserForm.invalid"
                      (click)="onSubmit()"
              >Add user</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
