<div class="container">
    <div class="row">
        <div class="col-9 mx-auto">
            <div class="card mb-3">
                <div class="card-header bg-transparent d-flex flex-row justify-content-between">
                    <div class="card-header-title">
                        Pending payment  <span class="badge badge-style border-0 p-2  badge-danger-bg ms-2"> Overdue</span>
                    </div>
                    <div class="card-isssue-icon">
                        <span><i class="bi bi-flag me-2"></i>Report an issue</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-9">
                            <div class="col-12 d-flex flex-row justify-content-between col-border p-3">
                                <div class="rental-month">Security deposit</div>
                                <div class="rental-amount">
                                    <span class="currency">R</span>
                                    <span class="amount">-1899.00</span>
                                </div>
                            </div>
                            <div class="col-12 d-flex flex-row justify-content-between col-border p-3">
                                <div class="rental-month">July rent</div>
                                <div class="rental-amount">
                                    <span class="currency">R</span>
                                    <span class="amount">7899.00</span>
                                </div>
                            </div> 
                            <div class="col-12 d-flex flex-row justify-content-between col-border p-3">
                                <div class="rental-month">August rent</div>
                                <div class="rental-amount">
                                    <span class="currency">R</span>
                                    <span class="amount">7899.00</span>
                                </div>
                            </div>    
                        </div>
                        <div class="col-3">
                            <div class="col d-flex flex-row justify-content-center">
                                <div class="total-rental-amount">
                                    <div class="total-amount-title">Amount due</div>
                                    <div class="total-amount-wrapper mb-2">
                                        <span class="currency">R</span>
                                        <span class="amount">7899.00</span>
                                    </div>
                                    <button class="btn btn-primary" type="button">Pay now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header bg-transparent d-flex flex-row justify-content-between">
                    <div class="card-header-title">
                        Payment history 
                    </div>
                    <div class="card-isssue-icon">
                        <span><i class="bi bi-flag me-2"></i>Report an issue</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                          <div class="accordion-header bg-transparent">
                            <button class="accordion-button bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              May rent <span class="ms-3 accordion-status d-flex align-items-center">  
                                <button class="btn btn-sm btn-status btn-rounded-success me-1"> 
                            </button>Paid</span>
                            </button>
                        </div>
                          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-12 d-flex flex-row justify-content-between col-border p-3">
                                        <div class="rental-month">
                                            <div class="item-title">
                                                Utilities
                                            </div>
                                            <div class="rent-items-description">
                                                Includes water, electricity, gas, and internet services
                                            </div>
                                        </div>
                                        <div class="rental-amount-summary">
                                            <span class="currency">R</span>
                                            <span class="amount">2345.15</span>
                                        </div>
                                    </div> 
                                  </div>
                                <div class="row">
                                    <div class="col-12 d-flex flex-row justify-content-between col-border p-3">
                                        <div class="rental-month">
                                            <div class="item-title">
                                                Maintenance fees
                                            </div>
                                            <div class="rent-items-description">
                                                Includes costs related to the maintenance and upkeep of common areas
                                            </div>
                                        </div>
                                        <div class="rental-amount-summary">
                                            <span class="currency">R</span>
                                            <span class="amount">899.30</span>
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex flex-row justify-content-between col-border p-3">
                                        <div class="rental-month">Property taxes</div>
                                        <div class="rental-amount">
                                            <span class="currency">R</span>
                                            <span class="amount">7899.00</span>
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex flex-row justify-content-between col-border p-3">
                                        <div class="rental-month">Furniture rental</div>
                                        <div class="rental-amount">
                                            <span class="currency">R</span>
                                            <span class="amount">499.00</span>
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex flex-row justify-content-between col-border p-3">
                                        <div class="rental-month">
                                            <div class="item-title">
                                                Late payment fees
                                            </div>
                                            <div class="rent-items-description">
                                                Includes 5% penalties for late rent payments, as outlined in the lease agreement.
                                            </div>
                                        </div>
                                        <div class="rental-amount">
                                            <span class="currency">R</span>
                                            <span class="amount">712.28</span>
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-end">
                                        <div class="total-rental-amount">
                                            <div class="total-amount-wrapper mb-2">
                                                <span class="total-amount-title me-3">Total</span>
                                                <span class="currency">R</span>
                                                <span class="amount">21387.86</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                June rent <span class="ms-3 accordion-status d-flex align-items-center">  
                                    <button class="btn btn-sm btn-status btn-rounded-danger me-1"> 
                                </button>Declined</span>
                            </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-12 d-flex flex-row justify-content-between col-border p-3">
                                        <div class="rental-month">
                                            <div class="item-title">
                                                Utilities
                                            </div>
                                            <div class="rent-items-description">
                                                Includes water, electricity, gas, and internet services
                                            </div>
                                        </div>
                                        <div class="rental-amount-summary">
                                            <span class="currency">R</span>
                                            <span class="amount">2345.15</span>
                                        </div>
                                    </div> 
                                  </div>
                                <div class="row">
                                    <div class="col-12 d-flex flex-row justify-content-between col-border p-3">
                                        <div class="rental-month">
                                            <div class="item-title">
                                                Maintenance fees
                                            </div>
                                            <div class="rent-items-description">
                                                Includes costs related to the maintenance and upkeep of common areas
                                            </div>
                                        </div>
                                        <div class="rental-amount-summary">
                                            <span class="currency">R</span>
                                            <span class="amount">899.30</span>
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex flex-row justify-content-between col-border p-3">
                                        <div class="rental-month">Property taxes</div>
                                        <div class="rental-amount">
                                            <span class="currency">R</span>
                                            <span class="amount">7899.00</span>
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex flex-row justify-content-between col-border p-3">
                                        <div class="rental-month">Furniture rental</div>
                                        <div class="rental-amount">
                                            <span class="currency">R</span>
                                            <span class="amount">499.00</span>
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex flex-row justify-content-between col-border p-3">
                                        <div class="rental-month">
                                            <div class="item-title">
                                                Late payment fees
                                            </div>
                                            <div class="rent-items-description">
                                                Includes 5% penalties for late rent payments, as outlined in the lease agreement.
                                            </div>
                                        </div>
                                        <div class="rental-amount">
                                            <span class="currency">R</span>
                                            <span class="amount">712.28</span>
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-end">
                                        <div class="total-rental-amount">
                                            <div class="total-amount-wrapper mb-2">
                                                <span class="total-amount-title me-3">Total</span>
                                                <span class="currency">R</span>
                                                <span class="amount">21387.86</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>