.col-border{
    border-bottom: 1px solid var(--border-color);
}
.total-amount-wrapper > span{
    font-weight: bold;
    font-size: var(--xl-font-size);
}
.rent-items-description {
    font-size: small;
}