table tbody tr td .name a{
  font-weight: 500;
  color: #000000;
  text-transform: capitalize;
}
table tbody tr td .name a:hover{
  color: #377dff;
}
table tbody tr td .email{
  font-size: 12px;
  color: #677788;
}
table tbody tr td.start-date,
table tbody tr td.end-date,
table tbody tr td.rental-fee,
table tbody tr td.status
{
  color: #677788;
}

.btn-status{
  height: 6px;
  width: 6px;
  padding: 4px;
  border-radius: 50px;
}
.btn-edit{
  border-color: #e1e1e1;
  color: #677788;
}
#searchInputId, #input-group-icon{
  border: 1px solid #e1e1e1;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
#searchInputId:focus{
  box-shadow: none;
  outline: none;
}
.bi-search{
  color: #8c98a4;
}
input#searchInputId::placeholder{
  font-size: 14px;
  color: #8c98a4;
}
