table tbody tr td .name a{
  font-weight: 500;
  color: var(--bs-dark);
  text-transform: capitalize;
}
table tbody tr td .name a:hover{
  color: var(--primary-darker-color);
}
table tbody tr td .email{
  font-size: var(--sm-font-size);
  color: var(--bs-gray-600);
}
table tbody tr td.start-date,
table tbody tr td.end-date,
table tbody tr td.rental-fee,
table tbody tr td.status
{
  color: var(--bs-gray-600);
}

.btn-status{
  height: 6px;
  width: 6px;
  padding: 4px;
  border-radius: 50px;
}
.btn-edit{
  border-color: var(--border-color);
  color: var(--bs-gray-600);
  font-size: var(--sm-font-size);
}
.btn-edit:hover{
  color: var(--primary-darker-color);
}
#searchInputId, #input-group-icon{
  border: 1px solid var(--border-color);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
#searchInputId:focus{
  box-shadow: none;
  outline: none;
}
//.bi-search{
//  color: var;
//}
input#searchInputId::placeholder{
  font-size: 14px;
  color: #8c98a4;
}

th.sorting::before:nth-last-child(1){
  content: "" !important;
}