table thead tr th{
  font-size: 14px;
  font-weight: 500;
}
table tbody tr td{
  vertical-align: center;
}
table tbody tr td.reporter-details{
  width: 35%;
}
table tbody tr td.issue{
  width: 45%;
}
