<div class="row mb-5">
    <div class="col-12">
      <div class="d-flex justify-content-between py-3">
        <div class="card-heading">Maintenance</div>
        <div class="export-button">
            <button class="btn btn-dark ms-3"><i class="bi bi-plus-lg me-2"></i>Add ticket</button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="empty-message-container">
            <span><i class="bi bi-inbox-fill"></i></span>
            <span class="empty-message-container ms-2 card-title">There are no maintenance tickets</span>
          </div>
        </div>
      </div>
    </div>
  </div>