<footer class="border-top">
  <div class="container pt-5 pb-3">
    <div class="row">
      <div class="col">
        <div class="footer-brand">PropMate</div>
      </div>
      <div class="col">
        <h5 class="footer-header">Company</h5>
        <ul class="footer-nav pt-3">
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">About</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Our team</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Contact</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">PropMate login</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <h5 class="footer-header">Platform</h5>
        <ul class="footer-nav pt-3">
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Features</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Reviews</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Blog</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Join us</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <div class="footer-contact">
          <div class="phone-number"><i data-feather="phone-call"></i> 27 60-123-4567</div>
          <div class="address-details mt-4">
            <span>PropMate</span>
            <span> 425 Wit Rd,</span>
            <span> Johannesburg, 2048,</span>
            <span>PO Box 48 Johannesburg, 2028 </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row border-top mt-5">
      <div class="col footer-nav-bottom d-flex pt-3">
        <div class="footer-bottom-first">
          <span>Copyright &copy; 2023 PropMate. All rights reserved.</span>
          <span><a href="">Privacy policy</a></span>
          <span>&#124;</span>
          <span><a href="">Terms of use</a></span>
        </div>
       <div class="footer-bottom-second">
         <div class="social-link">
           <i data-feather="facebook"></i>
           <i data-feather="twitter"></i>
           <i data-feather="linkedin"></i>
           <i data-feather="instagram"></i>
         </div>
       </div>
      </div>
    </div>
  </div>
</footer>
