<div class="row mb-5">
    <div class="col-12">
        <div class="setting-title">General Settings</div>
        <hr class="separator">
    </div>
    <div class="col-4">
        <!-- Button trigger modal -->
        <a data-bs-toggle="modal" data-bs-target="#generalSettings">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 icon-col d-flex align-items-center">
                            <div class="icon"><i class="bi bi-gear"></i></div>
                        </div>
                        <div class="col-9">
                            <div class="setting-heading">General Settings</div>
                            <small class="setting-decription">Set default languages, time zone, date formats, and display settings</small>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="generalSettings" tabindex="-1" aria-labelledby="generalSettingsLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header d-none">
                        <h1 class="modal-title fs-5" id="generalSettingsLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card mb-3">
                            <div class="card-header bg-transparent">
                                <div class="card-heading">Preferences</div>
                            </div>
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-3 d-flex align-items-center">
                                        <label for="">Languages</label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <select class="form-select" aria-label="Default select example"
                                                >
                                                <option [value]="item.value" *ngFor="let item of languageList">{{item.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-3 d-flex align-items-center">
                                        <label for="">Time zone</label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" name="" id="" class="form-control"
                                                placeholder="Enter time zone"  value="GMT+02:00">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-8 d-flex align-items-center">
                                        <label for="">Set the default currency for financial transactions</label>
                                    </div>
                                    <div class="col-4 justify-content-end d-flex">
                                        <div class="form-check form-switch form-switch-md">
                                            <input class="form-check-input" type="checkbox" id="switchCheckCurrency">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="col-4">
        <!-- Button trigger modal -->
        <a data-bs-toggle="modal" data-bs-target="#notifications">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 icon-col d-flex align-items-center ">
                            <div class="icon"><i class="bi bi-bell"></i></div>
                        </div>
                        <div class="col-9">
                            <div class="setting-heading">Notifications</div>
                            <small class="setting-decription">Customize notification preferences for various events. </small>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="notifications" tabindex="-1" aria-labelledby="notificationsLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header d-none">
                        <h1 class="modal-title fs-5" id="notifications">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-3">
                                    <div class="card-heading">Email notifications</div>
                                    <div class="card-content">
                                        <div class="row ">
                                            <div class="col-8 d-flex align-items-center">
                                                <label for="">Receive emails when new maintenance or repair requests are
                                                    submitted</label>
                                            </div>
                                            <div class="col-4 justify-content-end d-flex">
                                                <div class="form-check form-switch form-switch-md">
                                                    <input class="form-check-input" type="checkbox"
                                                        id="switchCheckCurrency">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-8 d-flex align-items-center">
                                                <label for="">Get notified when leases are about to expire</label>
                                            </div>
                                            <div class="col-4 justify-content-end d-flex">
                                                <div class="form-check form-switch form-switch-md">
                                                    <input class="form-check-input" type="checkbox"
                                                        id="switchCheckCurrency">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-8 d-flex align-items-center">
                                                <label for="">Receive reminders for upcoming rent payments.
                                                </label>
                                            </div>
                                            <div class="col-4 justify-content-end d-flex">
                                                <div class="form-check form-switch form-switch-md">
                                                    <input class="form-check-input" type="checkbox"
                                                        id="switchCheckCurrency">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="separtor">
                                    <hr>
                                </div>
                                <div class="mb-3">
                                    <div class="card-heading">Tenants Notification</div>
                                    <div class="card-content">
                                        <div class="row ">
                                            <div class="col-8 d-flex align-items-center">
                                                <label for="">Receive notifications when tenants make rent payments.
                                                </label>
                                            </div>
                                            <div class="col-4 justify-content-end d-flex">
                                                <div class="form-check form-switch form-switch-md">
                                                    <input class="form-check-input" type="checkbox"
                                                        id="switchCheckCurrency">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-8 d-flex align-items-center">
                                                <label for="">Get alerted to any changes or updates to lease agreements.
                                                </label>
                                            </div>
                                            <div class="col-4 justify-content-end d-flex">
                                                <div class="form-check form-switch form-switch-md">
                                                    <input class="form-check-input" type="checkbox"
                                                        id="switchCheckCurrency">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-8 d-flex align-items-center">
                                                <label for="">Do not send a notification if the tenant has already paid.
                                                </label>
                                            </div>
                                            <div class="col-4 justify-content-end d-flex">
                                                <div class="form-check form-switch form-switch-md">
                                                    <input class="form-check-input" type="checkbox"
                                                        id="switchCheckCurrency">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="separtor">
                                    <hr>
                                </div>
                                <div class="mb-3">
                                    <div class="card-heading">Maintenance Notification</div>
                                    <div class="card-content">
                                        <div class="row ">
                                            <div class="col-8 d-flex align-items-center">
                                                <label for="">Receive notifications about upcoming planned maintenance.
                                                </label>
                                            </div>
                                            <div class="col-4 justify-content-end d-flex">
                                                <div class="form-check form-switch form-switch-md">
                                                    <input class="form-check-input" type="checkbox"
                                                        id="switchCheckCurrency">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-8 d-flex align-items-center">
                                                <label for="">Be notified when a maintenance task is assigned to a specific
                                                    team or individual.</label>
                                            </div>
                                            <div class="col-4 justify-content-end d-flex">
                                                <div class="form-check form-switch form-switch-md">
                                                    <input class="form-check-input" type="checkbox"
                                                        id="switchCheckCurrency">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="separtor">
                                    <hr>
                                </div>
                                <div class="mb-3">
                                    <div class="card-heading">Help and support Notification</div>
                                    <div class="card-content">
                                        <div class="row ">
                                            <div class="col-8 d-flex align-items-center">
                                                <label for=""> Receive notifications on the status of submitted support
                                                    tickets.
    
                                                </label>
                                            </div>
                                            <div class="col-4 justify-content-end d-flex">
                                                <div class="form-check form-switch form-switch-md">
                                                    <input class="form-check-input" type="checkbox"
                                                        id="switchCheckCurrency">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-8 d-flex align-items-center">
                                                <label for="">Be informed about new help articles or documentation releases.
                                                </label>
                                            </div>
                                            <div class="col-4 justify-content-end d-flex">
                                                <div class="form-check form-switch form-switch-md">
                                                    <input class="form-check-input" type="checkbox"
                                                        id="switchCheckCurrency">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-12">
        <div class="setting-title">Document Management</div>
        <hr class="separator">
    </div>
    <div class="col-4">
        <!-- Button trigger modal -->
        <a data-bs-toggle="modal" data-bs-target="#documentManagement">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 icon-col d-flex align-items-center">
                            <div class="icon"><i class="bi bi-people"></i></div>
                        </div>
                        <div class="col-9">
                            <div class="setting-heading">Document Management</div>
                            <small class="setting-decription">Organize and upload important documents related to each property. </small>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="documentManagement" tabindex="-1" aria-labelledby="documentManagementLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-3">
                                    <div class=" card-heading">Tenants files</div>
                                    <div class="row ">
                                        <div class="col-8 d-flex align-items-center">
                                            <label for=""> Enable tenant to upload proof of identification (ID or passport copy certified)
                                            </label>
                                        </div>
                                        <div class="col-4 justify-content-end d-flex">
                                            <div class="form-check form-switch form-switch-md">
                                                <input class="form-check-input" type="checkbox" id="switchCheckCurrency">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-8 d-flex align-items-center">
                                            <label for=""> Enable tenant to upload bank statement (3 months certified bank statement)
                                            </label>
                                        </div>
                                        <div class="col-4 justify-content-end d-flex">
                                            <div class="form-check form-switch form-switch-md">
                                                <input class="form-check-input" type="checkbox" id="switchCheckCurrency">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-8 d-flex align-items-center">
                                            <label for=""> Enable tenant to upload application form
                                            </label>
                                        </div>
                                        <div class="col-4 justify-content-end d-flex">
                                            <div class="form-check form-switch form-switch-md">
                                                <input class="form-check-input" type="checkbox" id="switchCheckCurrency">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-8 d-flex align-items-center">
                                            <label for=""> Enable tenant to upload Lease agreement (water or utility bill)
                                            </label>
                                        </div>
                                        <div class="col-4 justify-content-end d-flex">
                                            <div class="form-check form-switch form-switch-md">
                                                <input class="form-check-input" type="checkbox" id="switchCheckCurrency">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="separator"><hr></div>
                                </div>
                                <div class=" card-heading">Property files</div>
                                <div class="row ">
                                    <div class="col-8 d-flex align-items-center">
                                        <label for=""> Enable Occupancy Certificate file upload
                                        </label>
                                    </div>
                                    <div class="col-4 justify-content-end d-flex">
                                        <div class="form-check form-switch form-switch-md">
                                            <input class="form-check-input" type="checkbox" id="switchCheckCurrency">
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-8 d-flex align-items-center">
                                        <label for=""> Enable Zone Certificate file upload
                                        </label>
                                    </div>
                                    <div class="col-4 justify-content-end d-flex">
                                        <div class="form-check form-switch form-switch-md">
                                            <input class="form-check-input" type="checkbox" id="switchCheckCurrency">
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-8 d-flex align-items-center">
                                        <label for=""> Enable Valuation documents file upload
                                        </label>
                                    </div>
                                    <div class="col-4 justify-content-end d-flex">
                                        <div class="form-check form-switch form-switch-md">
                                            <input class="form-check-input" type="checkbox" id="switchCheckCurrency">
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-8 d-flex align-items-center">
                                        <label for=""> Enable Title Deed file upload
                                        </label>
                                    </div>
                                    <div class="col-4 justify-content-end d-flex">
                                        <div class="form-check form-switch form-switch-md">
                                            <input class="form-check-input" type="checkbox" id="switchCheckCurrency">
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-8 d-flex align-items-center">
                                        <label for=""> Enable Electrical Certificate file upload
                                        </label>
                                    </div>
                                    <div class="col-4 justify-content-end d-flex">
                                        <div class="form-check form-switch form-switch-md">
                                            <input class="form-check-input" type="checkbox" id="switchCheckCurrency">
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-8 d-flex align-items-center">
                                        <label for=""> Enable Municipal approved building plans file upload
                                        </label>
                                    </div>
                                    <div class="col-4 justify-content-end d-flex">
                                        <div class="form-check form-switch form-switch-md">
                                            <input class="form-check-input" type="checkbox" id="switchCheckCurrency">
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-8 d-flex align-items-center">
                                        <label for=""> Enable Fire Safety Certificate file upload
                                        </label>
                                    </div>
                                    <div class="col-4 justify-content-end d-flex">
                                        <div class="form-check form-switch form-switch-md">
                                            <input class="form-check-input" type="checkbox" id="switchCheckCurrency">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="row mb-5 d-none">
    <div class="col-12">
        <div class="setting-title">Communication</div>
        <hr class="separator">
    </div>
    <div class="col-4">
        <!-- Button trigger modal -->
        <a data-bs-toggle="modal" data-bs-target="#communication">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 icon-col d-flex align-items-center">
                            <div class="icon"><i class="bi bi-envelope-at"></i></div>
                        </div>
                        <div class="col-9">
                            <div class="setting-heading">Communication</div>
                            <small class="setting-decription">Edit general communication preference settings the users. </small>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="communication" tabindex="-1" aria-labelledby="communicationLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="card d-none mb-3">
                            <div class="card-header bg-transparent">
                                <div class="card-heading">Email</div>
                            </div>
                            <div class="card-body">
                                <div class="mb-3 font-14 color-gray">Your current email address is email@domain.com</div>
                                <div class="row mb-3">
                                    <div class="col-3 d-flex align-items-center">
                                        <label for="">New email address</label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter new email address">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="row mb-5">
    <div class="col-12">
        <div class="setting-title">Security </div>
        <hr class="separator">
    </div>
    <div class="col-4 mb-3">
        <!-- Button trigger modal -->
        <a data-bs-toggle="modal" data-bs-target="#userPermissions">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 icon-col d-flex align-items-center">
                            <div class="icon"><i class="bi bi-people"></i></div>
                        </div>
                        <div class="col-9">
                            <div class="setting-heading">User Permissions</div>
                            <small class="setting-decription">Manage user roles and permissions within the application. </small>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="userPermissions" tabindex="-1" aria-labelledby="userPermissionsLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <div class="card-heading">User roles</div>
                                        <span class="font-14 color-gray">Add or manage user role</span>
                                    </div>
                                    <button class="btn btn-transparent"><i class="bi bi-plus-lg me-2"></i>Add user</button>
                                </div>
    
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header bg-transparent">
                                <div class="d-flex justify-content-between">
                                    <div class="card-heading">All users</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-responsive table-borderless table-align-middle">
                                    <tbody>
                                        <tr *ngFor="let user of tenantList; index as i">
                                            <ng-container *ngIf="i < 4">
                                                <td>
                                                    <div class="d-flex">
                                                        <img src="{{user.img}}" alt=""
                                                            class="img-fluid avatar-rounded me-2">
                                                        <div class="d-flex flex-column">
                                                            <div class="name tenant-name">
                                                                <span class="member-name">{{user.name}}</span>
                                                            </div>
                                                            <div class="email">{{user.email}}</div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="accountStatus" [ngClass]="{'active-status' :user.accountStatus == 'active', 
                                                'inactive-status': user.accountStatus == 'inactive'}">{{user.accountStatus | titlecase}}</div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <ng-container *ngIf="i == 0">
                                                            <div class="userRole">Admin</div>
                                                        </ng-container>
                                                        <ng-container *ngIf=" i > 0">
                                                            <select class="form-select" aria-label="Default select example"
                                                                >
                                                                <option [value]="item.value" *ngFor="let item of userRole">
                                                                    {{item.name}}
                                                                </option>
                                                            </select>
                                                        </ng-container>
                                                    </div>
                                                </td>
                                                <td><i class="bi bi-trash3"></i></td>
                                            </ng-container>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="col-4 mb-3">
        <!-- Button trigger modal -->
        <a data-bs-toggle="modal" data-bs-target="#securitySettings">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 icon-col d-flex align-items-center">
                            <div class="icon"><i class="bi bi-file-lock2"></i></div>
                        </div>
                        <div class="col-9">
                            <div class="setting-heading">Security and Access logs</div>
                            <small class="setting-decription">Monitor and review access logs for security purposes. </small>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="securitySettings" tabindex="-1" aria-labelledby="securitySettingsLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 mb-3">
        <!-- Button trigger modal -->
        <a data-bs-toggle="modal" data-bs-target="#emailPreferences">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 icon-col d-flex align-items-center">
                            <div class="icon"><i class="bi bi-envelope-at"></i></div>
                        </div>
                        <div class="col-9">
                            <div class="setting-heading">Email Preference</div>
                            <small class="setting-decription">Edit email. Change your current email address. </small>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="emailPreferences" tabindex="-1" aria-labelledby="emailPreferencesLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="card mb-3">
                            <div class="card-header bg-transparent">
                                <div class="card-heading">Email</div>
                            </div>
                            <div class="card-body">
                                <div class="mb-3 font-14 color-gray">Your current email address is email@domain.com</div>
                                <div class="row mb-3">
                                    <div class="col-3 d-flex align-items-center">
                                        <label for="">New email address</label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter new email address">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="col-4 mb-3">
        <!-- Button trigger modal -->
        <a data-bs-toggle="modal" data-bs-target="#changePasswords">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 icon-col d-flex align-items-center">
                            <div class="icon"><i class="bi bi-file-lock2"></i></div>
                        </div>
                        <div class="col-9">
                            <div class="setting-heading">Change Password</div>
                            <small class="setting-decription">Edit Password feature empowers users to enhance the security of their accounts. </small>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="changePasswords" tabindex="-1" aria-labelledby="changePasswordsLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="card mb-3">
                            <div class="card-header bg-transparent">
                                <div class="card-heading">Change password</div>
                            </div>
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-3 d-flex align-items-center">
                                        <label for="">Current password</label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter current password">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-3 d-flex align-items-center">
                                        <label for="">Enter new password</label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter new password">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-3 d-flex align-items-center">
                                        <label for="">Confirm new password</label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Confirm new password">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9 offset-3">
                                        <div class="password-requirements">
                                            <div class="font-14">Password requirements:</div>
                                            <div class="font-14 color-gray">Ensure that these requirements are met:</div>
                                            <ul>
                                                <li class="font-14 color-gray">Minimum 8 characters long - the more, the better</li>
                                                <li  class="font-14 color-gray">At least one lowercase character</li>
                                                <li  class="font-14 color-gray">At least one uppercase character</li>
                                                <li  class="font-14 color-gray">At least one number, symbol, or whitespace character</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <div class="col-4 mb-3">
        <!-- Button trigger modal -->
        <a data-bs-toggle="modal" data-bs-target="#2faSettings">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 icon-col d-flex align-items-center">
                            <div class="icon"><i class="bi bi-shield-lock"></i></div>
                        </div>
                        <div class="col-9">
                            <div class="setting-heading">Set 2FA Authentication</div>
                            <small class="setting-decription">Set up a 2fa authentication to safeguard your accounts. </small>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="2faSettings" tabindex="-1" aria-labelledby="2faSettingsLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="card mb-3">
                            <div class="card-header bg-transparent">
                                <div class="card-heading">
                                    Two-step authentication
                                </div>
    
                            </div>
                            <div class="card-body">
                                <div class="mb-3 font-14 color-gray">Start by entering your password so that we know it's you</div>
                                <div class="row mb-3">
                                    <div class="col-3 d-flex align-items-center">
                                        <label for="">Account password</label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter current password">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9 offset-3">
                                        <small>This is the password you use to log in to your Front account.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Set up</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>