<div class="row mb-5">
  <div class="col mb-3">
    <div class="card h-100">
      <div class="card-body">
        <div class="card-title">
          Building managed
        </div>
        <div class="card-details d-flex">
          <div class="card-figure">
            <span class="amount">16</span>
            <span class="card-subtitle-description ms-2">Last 12 months</span>
          </div>
          <div class="card-graph d-none">
            <span class="badge badge-style border-0 p-2  badge-warning-bg ms-2"><i class="bi bi-graph-up"></i> +1.2%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card h-100">
      <div class="card-body">
        <div class="card-title">
          Total rental revenue
        </div>
        <div class="card-details d-flex">
          <div class="card-figure">
            <span class="amount">R114,5249</span>
            <span class="card-subtitle-description ms-2">Last 30 days</span>
          </div>
          <div class="card-graph d-none">
            <span class="badge badge-style border-0 p-2 badge-success-bg ms-2"> <i class="bi bi-graph-up"></i> +36%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card h-100">
      <div class="card-body">
        <div class="card-title">
          Total rental income
        </div>
        <div class="card-details d-flex">
          <div class="card-figure">
            <span class="amount">R92,871</span>
            <span class="card-subtitle-description ms-2">Last 30 days</span>
          </div>
          <div class="card-graph d-none">
            <span class="badge badge-style border-0 p-2  badge-warning-bg ms-2"><i class="bi bi-graph-up"></i> +3.4% </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card h-100">
      <div class="card-body">
        <div class="card-title">
          Total operation cost
        </div>
        <div class="card-details d-flex">
          <div class="card-figure">
            <span class="amount">16</span>
            <span class="card-subtitle-description ms-2">Last 30 days</span>
          </div>
          <div class="card-graph d-none">
            <span class="badge badge-style border-0 p-2  badge-danger-bg ms-2"> <i class="bi bi-graph-down"></i> -2.6% </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-3">
    <div class="d-flex justify-content-between">
      <div>
        <div class="input-group">
          <div class="input-group-prepend bg-white">
           <span class="input-group-text bg-white" id="input-group-icon">
           <i class="bi bi-search bi-gray"></i>
           </span>
          </div>
          <input type="text" id="searchInputId" (keyup)="filterTable('buildingListTable', 'searchInputId')" class="form-control" placeholder="Search property">
        </div>
      </div>
      <div class="export-button">
        <button class="btn btn-dark ms-3"><i class="bi bi-house-add me-2"></i>Add Property</button>
    </div>
    </div>
  </div>
  <div class="col-12">
    <div class="table-card">
      <div class="card-body p-0">
        <table class="table table-responsive table-borderless table-align-middle" id="buildingListTable">
          <thead class="thead-light">
          <tr>
            <th>Property </th>
            <th>type</th>
            <th> units</th>
            <th> Tenants</th>
            <th> Monthly Rent</th>
            <!-- <th class="view-link"></th> -->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let building of buildingList; index as i">
            <ng-container>
              <td class="name">
                <div class="d-flex">
                  <img src="{{building.image}}" alt="" width="32" class="img-fluid me-3 building-image">
                  <div>
                    <div>
                      <a
                        [routerLink]="'/'.concat(Constants.BUILDING_ROUTE.concat('/'.concat(Constants.BUILDING_OVERVIEW.concat('/'
                        .concat(Constants.BUILDING_DETAILS_ROUTE)))))"
                        [queryParams]="{id: building.id}"
                        class="building-name-link">{{building.name}}</a>
                    </div>
                    <div class="building-address">{{building.address}}</div>
                  </div>
                </div>
              </td>
              <td class="property-type">{{building.type}}</td>
              <td class="numberOfUnits">{{building.number_of_units}}</td>
              <td class="numberOfTenants">{{building.number_of_tenants}}</td>
              <td class="averageMonthlyRate">
                <span class="currency">R</span>
                {{building.average_monthly_rental_rate}}
                <span class="amount"></span>
              </td>
              <!-- <td>
                <a class="btn btn-sm btn-bordered btn-view" type="button"
                   [routerLink]="'/'.concat(Constants.DASHBOARD_ROUTE.concat('/'.concat(Constants.BUILDING_DETAILS_ROUTE)))"
                   [queryParams]="{id: building.id}">View</a>
              </td> -->
            </ng-container>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
