<div class="row mb-5">
  <div class="col">
    <div class="card mb-3 h-100">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>
            <div class="card-title mb-0">
              Building Managed
            </div>
            <div class="card-text">
              Last 12 months
            </div>
          </div>
          <div class="bg-chart">
            <span class="badge badge-style border-0 p-2  badge-warning-bg ms-2"><i class="bi bi-graph-up"></i> +1.2%</span>
          </div>
        </div>
        <h5 class="card-value mt-4">16</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-3 h-100">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>
            <div class="card-title mb-0">
              Total Rental Income
            </div>
            <div class="card-text">
              Last 30 days
            </div>
          </div>
          <div class="bg-chart">
            <span class="badge badge-style border-0 p-2  badge-warning-bg ms-2"><i class="bi bi-graph-up"></i> +3.4% </span>
          </div>
        </div>
        <h5 class="card-value mt-4">
          <span class="currency-symbol me-1">R</span>
          <span class="amount">92,871.62</span>
        </h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-3 h-100">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>
            <div class="card-title mb-0">
              Total Rental Revenue
            </div>
            <div class="card-text">
              Last 30 days
            </div>
          </div>
          <div class="bg-chart">
            <span class="badge badge-style border-0 p-2 badge-success-bg ms-2"> <i class="bi bi-graph-up"></i> +36%</span>
          </div>
        </div>
        <h5 class="card-value mt-4">
          <span class="currency-symbol me-1">R</span>
          <span class="amount">115,249.35</span>
        </h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-3 h-100">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>
            <div class="card-title mb-0">
              Total Operation Cost
            </div>
            <div class="card-text">
              Last 30 days
            </div>
          </div>
          <div class="bg-chart">
            <span class="badge badge-style border-0 p-2  badge-danger-bg ms-2"> <i class="bi bi-graph-down"></i> -2.6% </span>
          </div>
        </div>
        <h5 class="card-value mt-4">
          <span class="currency-symbol me-1">R</span>
          <span class="amount">305,129.65</span>
        </h5>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <table class="table table-responsive">
          <thead>
          <tr>
            <th>Property Name</th>
            <th>Address</th>
            <th>Number of Units</th>
            <th>Number of Tenants</th>
            <th>Average Monthly Rate</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let building of buildingList; index as i">
            <ng-container>
              <td class="name">
                <div class="d-flex">
                  <img src="{{building.image}}" alt="" width="32" class="img-fluid rounded me-3">
                  <a
                    [routerLink]="'/'.concat(Constants.DASHBOARD_ROUTE.concat('/'.concat(Constants.BUILDING_DETAILS_ROUTE)))"
                    [queryParams]="{id: building.id}"
                  class="building-name-link">{{building.name}}</a>
                </div>
              </td>
              <td class="address">{{building.address}}</td>
              <td class="numberOfUnits">{{building.number_of_units}}</td>
              <td class="numberOfTenants">{{building.number_of_tenants}}</td>
              <td class="averageMonthlyRate">
                <span class="currency">R</span>
                {{building.average_monthly_rental_rate}}
                <span class="amount"></span>
              </td>
            </ng-container>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
