.profile-background-cover{
    background-color: aliceblue;
    height: 42px;
    width: 42px;
    color: #377DFF;
    text-align: center;
    font-size: large;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 50%;
    position: relative;
}
.profile-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
tbody tr td{
    color: var(--text-color-secondary);
}
.tenant-name{
    font-weight: 500;
}