.wrapper{
  height: 100vh;
}
img{
  width: 60%;
}
.col-second{
  background: #E7F0FE;
  height: 100vh;
  justify-content: center;
}
.col-first, .col-second{
  display: flex;
  align-items: center;
}
.form-check-label{
  font-size: var(--sm-font-size);
}
.form-check-label a{
  color: var(--primary-darker-color);
}
.login-link{
  font-size: var(--md-font-size);
  font-weight: var(--semi-bold-weight);
  color: var(--primary-darker-color);
}


.forgot-password a,
.create-account-link{
  font-size: var(--md-font-size);
  //font-weight: var(--regular-weight);
  font-weight: var(--semi-bold-weight);
  color: var(--primary-darker-color);
}

.create-account-link{
  font-weight: var(--semi-bold-weight);
  color: var(--primary-darker-color);
}
i:hover{
  color: var(--secondary-color);
}
i.icon-input{
  position: absolute;
  right: 28px;
  bottom: 5px;
  z-index: 99;
}